<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.eliterr.sample">

    <application
        android:allowBackup="true"
        android:label="Injection Testing"
        android:supportsRtl="true"
        android:name=".SampleApp"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".fragment.FragmentHostActivity"/>

        <activity android:name=".activity.MyActivity"/>

        <activity android:name=".test.FragmentTestActivity" android:exported="false"/>
    </application>

</manifest>